* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

body {
    background-color: rgb(37, 36, 36);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 40px;
}

button {
    padding: 10px;
    transition: opacity .3s;
    color: black;
    cursor: pointer;
}

button:hover {
    opacity: .7;

}
input{
    padding: 8px;


}

.formulario{
    gap:8px;
    flex-direction: column;
    display: flex;
}
.rodape {
    background-color: rgb(32 30 30);
}